.btn {
  @apply text-base text-light font-medium px-3 md:px-5 py-2 md:py-3 rounded-md border-2 enabled:hover:text-dark-secondary enabled:hover:bg-transparent dark:enabled:hover:text-light shadow-md;

  &:disabled {
    @apply opacity-90 cursor-not-allowed;
  }

  &-primary {
    @apply btn bg-primary border-primary text-light;
  }

  &-secondary {
    @apply btn bg-dark-primary border-dark-primary dark:bg-light dark:text-dark-primary dark:hover:text-light dark:hover:border-light;
  }
}

.grid-toggle-btn {
  @apply border rounded-md shadow-sm border-zinc-300 p-1 dark:border-white;

  & svg {
    @apply size-6 dark:text-light rounded-lg;
  }

  &.active {
    @apply border-transparent bg-dark-primary dark:bg-white;

    & svg {
      @apply text-white dark:text-dark-primary
    }
  }
}