.input-field {
  @apply w-full border-2 border-gray-200 outline-none rounded-md dark:text-light dark:border-gray-dark;

  &-sm {
    @apply input-field px-2 py-1 dark:bg-dark-body;
  }

  &-lg {
    @apply input-field px-4 py-3 dark:bg-dark-body;
  }
}

.input-label {
  @apply inline-block text-gray-dark text-base dark:text-white mb-1;
}

.auth-input-field {
  @apply w-full border-2 border-gray-200 outline-none px-4 py-3 rounded-md;
}

.auth-input-label {
  @apply mb-1 inline-block text-gray-dark text-base;
}

.err-msg {
  @apply text-red-600 text-base dark:text-red-500;
}